body {
	font-family: Verdana, Arial, sans-serif;
	text-align: center;
	background-color: #CCC;
	margin: 0;
	padding: 0;
}
h1 {
	border-bottom: 1px solid #000;
}
h1, p {
	margin-top: 0;
}
#wrapper {
	width: 50%;
	margin: 0 auto;
	background-color: #FFF;
	padding: 2em;
}